.responsive-youtube-short {
  position: relative;
  overflow: hidden;
  padding-top: 177.77%;
  max-width: 360px; 
  margin: auto;
   max-height: 60vh;
}

.responsive-youtube-short iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}